<div class="ui inverted vertical masthead center aligned segment" style="background: url('./assets/images/teacher4new.jpg') no-repeat center; background-repeat: no-repeat; width: 100%; height: 200px;">

        <div class="ui container" >




        <div class="ui text container" >
            <h1 class="ui inverted header">
                Mwalimu Wetu
            </h1>
            <h1>Let your Child learn from Professionals.</h1>
            <br>
            <div class="ui huge primary button">Get Started<i class="right arrow icon"></i></div>
        </div>
            </div>

</div>


<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header" id="start">We Bring Teachers and Students Together</h3>
                <p>We believe that through education, everyone has the power to change their lives, and ultimately the world, for the better.
                    Our platform provides a means of learning online. By doing so, we make it more convenient for learners everywhere.</p>
                <h3 class="ui header">The next Frontier of Learning is Online.</h3>
                <p>We are experts in the field of online education and are rigorous in selecting tutors and providing a reliable platform for all learning activities.</p>
            </div>
            <div class="six wide right floated column">
                <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
<!--                <a class="ui huge button">Proceed</a>-->
            </div>
        </div>
    </div>
</div>


<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h2>“In times where small instructor-led classrooms tend to be the exception, electronic learning solutions can offer more collaboration and interaction with experts and peers, as well as a higher
                    success rate than the live alternative.”</h2>
                <p>- Keith Bachman, Corporate eLearning Executive, W.R. Hambrecht and Assoc.</p>
            </div>
            <div class="column">
                <h2>
                    “Training developers need to integrate technology seamlessly into the curriculum instead of
                    viewing it as an add-on, an after-thought, or an event.”
                </h2>
                <p>
                   - Heidi Hayes Jacobs, Executive Director of the Curriculum Mapping Institute, author, educator.

                </p>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h3 class="ui header">How it Works</h3>
        <p>We have numerous teachers that offer different material to students. All a student has to do is create an account with us then select a tutor of their choice.</p>
        <a class="ui large button">Read More</a>
        <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
        </h4>
        <h3 class="ui header center aligned column">Here are institutions that we work with</h3>
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="six wide column">
                    <img src="assets/images/arope.jpeg" class="ui large bordered rounded image">
                </div>
                <div class="six wide right floated column">
                    <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                </div>
            </div>
    </div>
</div>
