<div class="ui vertical stripe segment">
    <div class="ui text container">

        <div class="ui one column stackable center aligned page grid">
            <div class="column twelve wide">
                <h2 class="ui teal image header">

                    <div class="content">
                        Create an Account
                    </div>
                </h2>

                <div class="ui stacked segment">
                    <form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">

                        <app-input
                                style="text-align: left"
                                [control]="authForm.get('firstName')"
                                inputType="text"
                                label="First Name"
                        ></app-input>
                        <app-input
                                style="text-align: left"
                                [control]="authForm.get('lastName')"
                                inputType="text"
                                label="Last Name"
                        ></app-input>

                        <app-input
                                style="text-align: left"
                                [control]="authForm.get('email')"
                                inputType="text"
                                label="Email"
                        ></app-input>
                        <app-input
                                style="text-align: left"
                                [control]="authForm.get('password')"
                                inputType="password"
                                label="Password"
                        ></app-input>
                        <app-input
                                style="text-align: left"
                                [control]="authForm.get('passwordConfirmation')"
                                inputType="password"
                                label="Password Confirmation"
                        ></app-input>

                        <div
                                *ngIf="
      authForm.get('password').touched &&
      authForm.get('passwordConfirmation').touched &&
      authForm.errors
    "
                                class="ui red basic label"
                        >
                            <p *ngIf="authForm.errors.passwordsDontMatch">
                                Password and Password Confirmation must match
                            </p>
                            <p *ngIf="authForm.errors.noConnection">
                                No internet connection detected, failed to sign up
                            </p>
                            <p *ngIf="authForm.errors.unknownError">
                                Failed to sign up
                            </p>
                        </div>

                        <div>
                            <button class="ui submit button teal">
                                Create Account
                            </button>
                        </div>
                    </form>

                    <div class="ui message">
                        Already have an Account? <a routerLink="/signin">Log In</a>
                    </div>


                </div>


            </div>
        </div>


    </div>
</div>
