<div class="ui vertical stripe segment">
    <div class="ui text container">


        <h2 class="ui header">

            <img class="ui image" src="/assets/images/book.png">
            <div class="content">
                <u>Students Landing Page.</u>
            </div>

            <h4 class="ui dividing header">We are glad to have you with us.</h4>
            <br>
        </h2>

<!--        Click here to download code of conduct. <a href="/assets/documents/Mwalimu Wetu - Code of Coduct Document.pdf" target="_blank">Code of Conduct</a>-->

        <p></p>

        <br>
        <br>

        <span class="center aligned">
            <a class="ui header submit button primary" routerLink="/student/signup">Sign Up</a>
        </span>

       <span class="center aligned">
            <a class="ui header submit button primary" routerLink="/student/signin">Sign In</a>
        </span>

        <br>


    </div>
</div>
