<div class="ui vertical stripe segment">
    <div class="ui text container">

        <h2 class="ui header center aligned">Here are the steps for Enrolling as a Teacher.</h2>

        <div class="ui raised very padded text container segment">
            <p>1. Fill out a form for a background check <br>(You will need to pay 3500 for the completion of this process.)</p>
            <p>2. Await approval after background Check</p>
            <p>3. Fill out your profile. Write out your skills and specializations</p>
            <p>4. Highlight your work hours</p>
            <p>5. Create Lectures on Teams to conduct your classes and update the link to the class.</p>
        </div>

        <span class="center aligned">
            <a class="ui header submit button primary" routerLink="/teacher/background">Start Process</a>
        </span>

    </div>
</div>
